<form id="registerForm">
    <input type="text" id="name" placeholder="姓名" required>
    <input type="password" id="password" placeholder="密码" required>
    <input type="password" id="check_password" placeholder="确认密码" required>
    <select id="role" required>
        <option value="" disabled selected>选择身份</option>
        <option value="teacher">老师</option>
        <option value="student">学生</option>
    </select>
    <button type="submit">注册</button>
</form>
    <script>
        document.getElementById("registerForm").addEventListener("submit", function (event) {
                event.preventDefault(); // 阻止表单默认提交行为

                const name = document.getElementById("name").value;
                const password = document.getElementById("password").value;
                const check_password = document.getElementById("check_password").value;
                const role = document.getElementById("role").value;

                // 检查两次输入的密码是否一致
                if (password !== check_password) {
                    alert("两次输入的密码不匹配，请重新输入！");
                    return; // 不一致则不继续执行
                }

                let userData = {
                    name: name,
                    password: password,
                    role: role,
                };
            
                fetch("http://192.168.196.117:5001/register", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(userData)
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log("Success:", data);
                        alert("注册成功: " + JSON.stringify(data));
                    })
                    .catch(error => {
                        console.error("Error:", error);
                        alert("注册失败: " + error);
                    });
            });

    </script>

</html>